*{
    padding: 0px;
    margin: 0px;
    outline: none;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    list-style: none;
    
}
body{
    background: rgb(200, 171, 248);
}
main{
    width: 70vw;
    margin: 0px auto;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
    background: rgb(245, 245, 245);
    padding: 10px;

}
main header{
    height: 100px;
    width: 100%;
    /* background: chocolate; */
}
main header h1{
    color: #f00;
    font-size: 30px;
}
main header p{
    display: flex;
    margin: 20px 0px;
    align-items: center;
    /* background: cornflowerblue; */
}
main header p img{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin: 10px 10px;
    
}



main article fieldset{
    padding: 10px;
}
main article fieldset p{
    margin-bottom: 10px;
}
main article fieldset ul li a{
    color: rgb(0, 58, 204);
}
main article fieldset ul li a:hover{
    color: #c00;
}
button{
    margin: 20px 0px;
    padding: 5px 10px;

}

footer{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(129, 124, 124);
    
}
footer p{
    color: #FFF;
    font-size: 18px;
}