*{
    padding: 0px;
    margin: 0px;
    outline: none;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    list-style: none;
    
}
body{
    background: rgb(200, 171, 248);
}
main{
    width: 70vw;
    margin: auto;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
    background: rgb(245, 245, 245);
    padding: 10px;

}
main article > p{
    display: block;
    /* padding: 20px 0px; */
    margin: 20px;
}
main header{
    height: 70px;
    width: initial;
    background: lawngreen;
}
main header h1{
    color: #f00;
    font-size: 30px;
}

main article fieldset{
    padding: 10px;
}
main article fieldset p{
    margin-bottom: 10px;
}
main article fieldset ul li a{
    color: rgb(0, 58, 204);
}
main article fieldset ul li a:hover{
    color: #c00;
}

footer{
    height: 70px;
    background: rgb(247, 213, 213);
}
