*{
    padding: 0px;
    margin: 0px;
    outline: none;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;

}
body{
    background: rgb(148, 192, 104);
}
main{
    width: 80vw;
    background: brown;
}
